<ul class ="master" style="list-style-type:none"> 
	<li class="folder">Node Properties</li> 
	<ul style="list-style-type:none">
		<li class="folder">Name <p class="name">1</p></li> 
	</ul>
	<ul style="list-style-type:none">
		<li class="folder">Coordinates <p class="button">update</p></li> 
		<ul id="items" style="list-style-type:none">
			<li>X: <p class="propbox">2.0</p></li> 
			<li>Y: <p class="propbox">2.0</p></li> 
			<li>Z: <p class="propbox">2.0</p></li> 	
		</ul>
		<li class="folder">Boundaries</li> 
		<ul id="items" style="list-style-type:none">
			<li>UX: <p class="propbox">Fixed</p></li> 
			<li>UY: <p class="propbox">Fixed</p></li> 
			<li>UZ: <p class="propbox">Fixed</p></li> 	
			<li>RX: <p class="propbox">Fixed</p></li> 
			<li>RY: <p class="propbox">Fixed</p></li> 
			<li>RZ: <p class="propbox">Fixed</p></li> 
		</ul>
		<li class="folder">Applied Forces</li> 
		<ul id="items" style="list-style-type:none">
			<li>FX: <p class="propbox">5 kip</p></li> 
			<li>FY: <p class="propbox">0</p></li> 
			<li>FZ: <p class="propbox">0</p></li> 
			<li>MX: <p class="propbox">2 kip*ft</p></li> 
			<li>MY: <p class="propbox">0</p></li> 
			<li>MZ: <p class="propbox">0</p></li> 	
		</ul>
	</ul>
</ul>

<ul class ="master" style="list-style-type:none"> 
	<li class="folder">Frame Properties</li> 
	<ul style="list-style-type:none">
		<li class="folder">Name <p class="name">1</p></li> 
	</ul>
	<ul style="list-style-type:none">
		<li class="folder">Node i Coordinates <p class="button">update</p></li> 
		<ul id="items" style="list-style-type:none">
			<li>X: <p class="propbox">2.0</p></li> 
			<li>Y: <p class="propbox">2.0</p></li> 
			<li>Z: <p class="propbox">2.0</p></li> 	
		</ul>
		<li class="folder">Node j Coordinates <p class="button">update</p></li> 
		<ul id="items" style="list-style-type:none">
			<li>X: <p class="propbox">3.0</p></li> 
			<li>Y: <p class="propbox">3.0</p></li> 
			<li>Z: <p class="propbox">3.0</p></li> 	
		</ul>
		<li class="folder">Length: <p class="propbox">0</p></li>
		<li class="folder">Material: <p class="propbox">0</p></li>
		<li class="folder">Section: <p class="propbox">0</p></li>
		<li class="folder">Rotation: <p class="propbox">0</p></li>
		<li class="folder">Releases: <p class="propbox">0</p></li> 

	</ul>


</ul>