<html>
<head><link rel="stylesheet" href="/static/Menu.css"></head>
   <body>
      <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
      <script type="text/javascript" src="/static/menumaker.js"></script>
      <script>$("#cssmenu").menumaker();</script>
      <div id='cssmenu'>  
         <ul>
            <li><a href='#'>Model</a></li>
            <li><a href='#'>Add Object</a>
               <ul>
                  <li><a href='#'>Joint</a>
                     <ul>
                        <li><a href='/AddJoint'>Add Joint</a></li>
                        <li><a href='#'>Del Joint</a></li>
                     </ul>
                  </li>
                  <li><a href='#'>Beam</a>
                     <ul>
                        <li><a href='#'>Add Beam</a></li>
                        <li><a href='#'>Del Beam</a></li>
                     </ul>
                  </li>
                  <li><a href='#'>Column</a>
                     <ul>
                        <li><a href='#'>Add Column</a></li>
                        <li><a href='#'>Del Column</a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li><a href='#'>Display Joints</a></li>
            <li><a href='#'>View Settings</a></li>
         </ul>
      </div>  
   </body>
</html>